<div class="item">
  <div class="name-container">
    <span class="name">Okulus </span>
  </div>
  <div class="statuses">
    <span class="online">В сети </span>
    <span class="hint"> • можно принять приглашение в чат</span>
  </div>
  <div class="content">
    Для друзей Гелендваген 😁
    Ростом не вышел,158 см чистой ярости😂
    Смотрю фильмы, сериалы, мультики, аниме (особенно люблю ужастики)
    Немножко рисую 👉👈
    Ещё люблю котиков и пиво 🍺
    Вообще хотелось бы стать тату мастером, так что теперь начну копить на курсы)
    Из музыки слушаю всё, любимых групп нет, да и песен тоже.
    Если кому надо зз рыбы)
    P. C есть парень
  </div>
  <div class="image">
    <img src="https://sun1-23.userapi.com/s/v1/ig2/NMHYjSE0cnzmiG10uYEB9zUmlqBIRar9Qtg0Ege9pNVKRPJJcnCAzEq3mQNo1QSKz6zhQqneoYcTjHQ0VLa5ErrP.jpg?size=400x400&quality=95&crop=41,151,452,452&ava=1" alt="Артем">
  </div>
  <div class="actions">
    <button mat-raised-button (click)="handleDislike()" class="icon-button">
      <app-icon icon="dislike"></app-icon>
    </button>
    <button mat-raised-button (click)="handleLike()" class="icon-button approve">
      <app-icon icon="like"></app-icon>
    </button>
  </div>
</div>
