<div class="loader" *ngIf="loading$ | async">
  <div class="loader__spinner">
    <div class="loader__ring"></div>
  </div>
</div>
<div class="items" *ngIf="(likes$ | async) as items" waIntersectionObserver>
  <app-feed-list-item
    page="likes"
    *ngFor="let item of items; let i = index"
    [value]="item"
    (like)="onLike($event)"
    (dislike)="onDislike($event)"
    (waIntersectionObservee)="onIntersection($event, i, items.length)">
  </app-feed-list-item>
</div>
<div class="empty-state" *ngIf="!(loading$ | async) && (likes$ | async)?.length === 0">
  <div class="empty-state__icon">
    <svg width="64" height="64" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="#642EFF"/>
    </svg>
  </div>
  <span class="empty-state__title">Пока нет лайков</span>
  <span class="empty-state__text">Здесь появятся те, кому ты понравился</span>
</div>
<app-background-for-switcher></app-background-for-switcher>
